@media (min-width: 768px) {
  .container {
    width: 600px; } }
@media (min-width: 992px) {
  .container {
    width: 850px; } }
@media (min-width: 1200px) {
  .container {
    width: 1050px; } }
.navbar-inverse {
  background: transparent;
  border-bottom: none;
  text-transform: uppercase; }
  @media (min-width: 1200px) {
    .navbar-inverse {
      padding-left: 10px;
      padding-right: 10px; } }

@media (min-width: 1200px) {
  .navbar-nav > li > a {
    padding-top: 15px; }

  .navbar-btn.btn-sm {
    margin-top: 15px; } }
body {
  padding-bottom: 105px;
  color: #cbcbcb; }

.colored-hr {
  width: 165px;
  margin: auto;
  height: 1px;
  background: #147fd7; }

header {
  background: #556 url("http://lorempixel.com/1600/1600/business") top center no-repeat fixed;
  background-size: cover;
  background-blend-mode: multiply;
  min-height: 100vh;
  margin-top: -115px;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    header {
      min-height: 90vh; } }
  header .container {
    padding-top: 7vh; }
    header .container img.screenshot {
      height: 50vh;
      margin-top: -10 vh; }
      @media (min-width: 768px) {
        header .container img.screenshot {
          height: 70vh; } }
    header .container #intro {
      margin-top: 20px;
      text-align: center; }
      @media (min-width: 992px) {
        header .container #intro {
          margin-top: 0;
          padding-left: 40px; } }
    header .container .masthead {
      font-family: "Merriweather";
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      color: #fefefe;
      border-top: 3px solid #147fd7;
      border-bottom: 3px solid #147fd7;
      padding-top: 2vh;
      padding-bottom: 3vh; }
      @media (min-width: 480px) {
        header .container .masthead {
          font-size: 28px; } }
      @media (min-width: 1200px) {
        header .container .masthead {
          font-size: 35px;
          line-height: 45px; } }
    header .container .things {
      margin: 0 0 20px;
      padding: 0; }
      header .container .things li {
        list-style-type: none;
        display: inline; }
      header .container .things li:nth-child(1n+2):before {
        content: "\2022";
        color: #f55b5b;
        display: inline;
        width: 20px;
        text-align: center; }
        @media (min-width: 1200px) {
          header .container .things li:nth-child(1n+2):before {
            content: "";
            width: 0; } }
      @media (min-width: 1200px) {
        header .container .things li:nth-child(2n):before {
          content: "\2022";
          color: #f55b5b;
          display: inline; } }
    header .container .appstore {
      margin-bottom: 10px; }
      header .container .appstore img {
        padding: 5px; }

section {
  overflow: hidden;
  padding-top: 10vh;
  padding-bottom: 15vh; }
  section .section-head {
    text-align: center;
    margin-bottom: 30px; }
    section .section-head h2 {
      font-weight: 700;
      color: #147fd7;
      font-size: 50px;
      font-family: "Merriweather"; }
    section .section-head h3 {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 300; }
  section#features {
    color: #656565;
    font-weight: 300;
    background: #e5e5e5; }
    section#features img.mockup {
      height: 450px; }
    section#features .features-left {
      text-align: center; }
      @media (min-width: 992px) {
        section#features .features-left {
          text-align: right; } }
    section#features .features-right {
      text-align: center; }
      @media (min-width: 992px) {
        section#features .features-right {
          text-align: left; } }
    section#features .feature {
      margin-bottom: 20px;
      padding: 10px 20px; }
      section#features .feature .feature-title {
        font-weight: 400;
        font-size: 1.3em; }
      section#features .feature .feature-info {
        font-size: 1.2em; }

#stickyFoot {
  padding-left: 10px;
  padding-right: 10px;
  color: #f55b5b;
  border-top: 1px solid #989898; }
  #stickyFoot h1 {
    font-family: "Merriweather";
    color: #147fd7;
    font-size: 20px; }
    @media (min-width: 480px) {
      #stickyFoot h1 {
        font-size: 25px; } }
    @media (min-width: 768px) {
      #stickyFoot h1 {
        font-size: 28px; } }
    @media (min-width: 1200px) {
      #stickyFoot h1 {
        font-size: 35px; } }

/*# sourceMappingURL=main.css.map */
